@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #E4E8E7;
}

header {
  background: rbga(239, 237, 255);
}
header nav {
  background: rbga(255, 0, 0, 1, 4);
}

a {
  color: black;
  font-weight: bold;
}

section form {
  background: rgba(235, 235, 10, 0.4);
}

body {
  height: 100vh;
}

header {
  font-family: "Roboto", sans-serif;
  background: url("../images/fondo3.png");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: bottom;
  padding: 6px 21px;
  border-bottom: 1px solid #1F2323;
}
header nav {
  display: grid;
  grid-template-columns: 240px fr;
  padding-left: 1px;
  border-bottom: 1px solid #cacaca;
}
header nav ol {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
header nav ol li {
  margin-right: 22px;
}
header nav ol li a {
  color: #111111;
  font-size: 15px;
}

header figure {
  padding-left: 5px;
}

section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 40px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
section form {
  padding: 21px;
}
section form input, section form button {
  width: 100%;
  margin-bottom: 10px;
}
section form button {
  font-size: 1em;
}
section form a {
  display: block;
  text-align: center;
  color: black;
}

main {
  font-family: "Raleway", sans-serif;
}
main section {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}
main section article ul {
  padding: 10px;
}

footer {
  font-family: "Nunito", sans-serif;
  background: #0AF5F5;
  border-top: 3px solid #111111;
  display: grid;
  grid-template-columns: auto auto auto;
}
footer h2 {
  grid-row: 1;
  grid-column: 1;
  padding-top: 15px;
  padding-left: 250px;
}
footer section1 {
  grid-row: 1/span 2;
  grid-column: 2;
}
footer h4 {
  grid-row: 1;
  padding-top: 20px;
}

@media screen and (max-width: 500px) {
  header {
    background: url("../images/eyeglass.png"), url("../images/grey.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header nav {
    grid-template-columns: 150px 1fr;
  }
  header section {
    grid-template-columns: 1fr;
  }
  header section blockquote {
    display: none;
  }
  main {
    grid-template-columns: auto;
    padding: 20px 30px;
  }
  main section {
    border-bottom: 1px solid gray;
  }
  footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  footer h2 {
    grid-row: 1/span 2;
    padding-bottom: 40px;
    padding-top: 2px;
    padding-left: 50px;
  }
  footer section1 {
    grid-row: 2/span 3;
    grid-column: 1;
  }
  footer h4 {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  footer {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  footer h2 {
    grid-row: 1;
    grid-column: 1;
    padding-top: 25px;
    padding-left: 10px;
  }
  footer section {
    grid-row: 1/span 2;
    grid-column: 2;
  }
  footer h4 {
    grid-row: 1;
    padding-top: 30px;
  }
}
@media screen and (max-width: 930px) {
  header #titule {
    display: none;
  }
  header #cool {
    display: none;
  }
  main #glash {
    display: none;
  }
}
@media screen and (min-width: 930px) {
  header #titule-mini {
    display: none;
  }
  main #gl {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  header #titule {
    display: none;
  }
  header #cool {
    display: none;
  }
  header nav ol {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
}/*# sourceMappingURL=style.css.map */